RIGOL_CONNECTION=USB
RIGOL_SCOPE_RESOURCE=USB0::0x1AB1::0x04B0::DS6C134300118::INSTR
RIGOL_SCOPE_TIMEOUT_MS=20000
RIGOL_DEFAULT_CHANNEL=CHANnel1
RIGOL_CLEAR_ON_CONNECT=0
RIGOL_CLI_TIMEOUT_MS=30000
RIGOL_LOCK_TIMEOUT_MS=5000
